* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    margin: 0;
    padding: .75rem;
}

main {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
}

#type-selection,
#pswd-length {
    flex-direction: row;
    max-width: 200px;
    margin: 0 auto;
}

#passwords {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    gap: 1rem;
    width: 100%;
}

#btn-generate-password {
    margin-top: 1rem;
}